body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-light{
  width: 100vw;
  height: 100vh;
  background: #fafafc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.home-dark{
  width: 100vw;
  height: 100vh;
  background: #363940;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.homeH-light{
margin: 0;
padding: 0;
margin-left: 130px;
margin-bottom: 60px;
color: #363940;
font-size: 50px;
}

.homeH-dark{
  margin: 0;
  padding: 0;
  margin-left: 130px;
  margin-bottom: 60px;
  color: #aeb8c2;
  font-size: 50px;
  }

.allchats-light{
  width: 100vw;
  height: 100vh;
  background: #fafafc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.allchats-dark{
  width: 100vw;
  height: 100vh;
  background: #363940;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.createChat-light{
  width: 100vw;
  height: 100vh;
  background: #fafafc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.createChat-dark{
  width: 100vw;
  height: 100vh;
  background: #363940;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.createChatForm{
  margin-left: 100px;
}

.createChatLabel-light{
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createChatLabel-dark{
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createChatLabel-light label{
  width: 180px;
  font-size: 30px;
  color: #01152b;
  font-weight: 600;
}

.createChatLabel-dark label{
  width: 180px;
  font-size: 30px;
  color: #c1c1c9;
  font-weight: 600;
}

.createChatLabel-light input{
  margin-left: 40px;
  width: 300px;
  height: 36px;
  box-shadow: 0px 0px 2px 1px #fff0fa;
  font-size: 25px;
  border: 2px solid #01152b;
  border-radius: 50px;
  padding: 0 20px;
  outline: none;
  background-color: #ffffff;
}

.createChatLabel-dark input{
  margin-left: 40px;
  width: 300px;
  height: 36px;
  box-shadow: 0px 0px 2px 1px #25272c;
  font-size: 25px;
  border: 2px solid #01152b;
  border-radius: 50px;
  padding: 0 20px;
  outline: none;
  background-color: #d3cdcd;
}

.createChatLabel-dark input::placeholder{
  color: #363940;
}

.createChatLabel-light input:focus{
  box-shadow: 0px 0px 2px 1px #262121;
}

.createChatLabel-dark input:focus{
  box-shadow: 0px 0px 8px 3px #110f0f;
}

.createChatButton-light{
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.createChatButton-dark{
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.createChatButton-light button{
  width: 200px;
  height: 50px;
  margin-right: 42px;
  background: #327cfa;
  font-weight: 540;
  font-size: 26px;
  border: 2px solid #01152b;
  border-radius: 50px;
  color: #e7ecf0;
  -webkit-text-stroke: 0.3px #01152b;
}

.createChatButton-dark button{
  width: 200px;
  height: 50px;
  margin-right: 42px;
  background: #2b5279;
  font-weight: 540;
  font-size: 26px;
  border: 2px solid #0d1925;
  border-radius: 50px;
  color: #e7ecf0;
  -webkit-text-stroke: 0.3px #01152b;
}

.createChatButton-light button:hover{
  background: #044fcf;
}

.createChatButton-dark button:hover{
  background: #0e4882;
}

.errorform{
  width: 570px;
  height: 240px;
  background: #fffdf2;
  right: 25%;
  top:  -100%;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 3px solid #262121;
  transition: .70s top;
  border-radius: 50px 50px 50px 50px;
}

.errorform.active{
  top: 2%;
}


.successfulform{
  width: 570px;
  height: 220px;
  background: #fffdf2;
  right: 25%;
  top:  -100%;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 2px solid #262121;
  transition: .70s top;
  border-radius: 30px 30px 30px 30px;
}

.successfulform.active{
  top: 2%;
}

.formMessageError{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  font-size: 34px;
  color: #de002c;
  
  font-weight: 600;
  text-shadow: 1px 1px 2px #262121;
  -webkit-text-stroke: 1px #a60000;
}

.formMessageSuccess{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  font-size: 40px;
  color:#02a352;
  font-weight: 600;
  text-shadow: 1px 1px 2px #262121;
  -webkit-text-stroke: 1px #016b36;
}

.createChatFormH{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 36%;
  font-size: 20px;
  text-align: center;
  margin-left: 5%;
}

.createChatFormH h{
  margin-bottom: 20px;
}

.createChatFormButton{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 24%;
}

.createChatFormButton button{
  margin-bottom: 10px;
  margin-right: 50px;
  width: 100px;
  height: 32px;
  border: 2px solid #262121;
  border-radius: 20px;
}

.successButton{
  background: #02a352;
  color: #fffdf2;
}

.errorButton{
  background: #de002c;
  color: #fffdf2;
}


.setting-light{
  width: 100vw;
  height: 100vh;
  background: #fafafc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


.setting-dark{
  width: 100vw;
  height: 100vh;
  background: #363940;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.themeChange{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.dark-light{
  font-size: 30px; 
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.dark-light button{
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background: #363940;
  border: 1px solid #383b47;
}

.dark-dark{
  display: none;
}

.light-dark{
  font-size: 30px; 
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.ligthThemeH{
  color: #aeb8c2;
  font-weight: 600;
}

.darkThemeH{
  color: #363940;
  font-weight: 600;
}

.light-dark button{
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background: #aeb8c2;
  border: 1px solid #5e6469;
}

.light-light{
  display: none;
}

.text{
  margin: 0;
  padding: 0;
  margin-left: 130px;
  margin-bottom: 500px;
  color: #2b0101;
  font-size: 40px;
}

.li{
  color: #aeb8c2;
  margin-bottom: 10px;
  align-items: center;
  padding: 28px 0 0 0;
}

.li:hover{
  color: #f4a261;

}
