body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-light{
  width: 100vw;
  height: 100vh;
  background: #fafafc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.home-dark{
  width: 100vw;
  height: 100vh;
  background: #363940;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.homeH-light{
margin: 0;
padding: 0;
margin-left: 130px;
color: #363940;
font-size: 50px;
}

.h2-light{
  margin-left: 130px;
  color: #363940;
  font-size: 50px;
}

.homeH-dark{
  margin: 0;
  padding: 0;
  margin-left: 130px;
  color: #aeb8c2;
  font-size: 50px;
  }

  .h2-dark{
    margin-left: 130px;
    color: #aeb8c2;
    font-size: 50px;
  }

.allchats-light{
  width: 100vw;
  height: 100vh;
  background: #fafafc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.allchats-dark{
  width: 100vw;
  height: 100vh;
  background: #363940;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.createChat-light{
  width: 100vw;
  height: 100vh;
  background: #fafafc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.createChat-dark{
  width: 100vw;
  height: 100vh;
  background: #363940;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.createChatForm{
  margin-left: 100px;
}

.createChatLabel-light{
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createChatLabel-dark{
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createChatLabel-light label{
  width: 180px;
  font-size: 30px;
  color: #01152b;
  font-weight: 600;
}

.createChatLabel-dark label{
  width: 180px;
  font-size: 30px;
  color: #c1c1c9;
  font-weight: 600;
}

.createChatLabel-light input{
  margin-left: 40px;
  width: 300px;
  height: 36px;
  box-shadow: 0px 0px 3px 3px #a9a9af;
  font-size: 25px;
  border: 0px solid #01152b;
  border-radius: 50px;
  padding: 0 20px;
  outline: none;
  background-color: #ffffff;
}

.createChatLabel-dark input{
  margin-left: 40px;
  width: 300px;
  height: 36px;
  box-shadow: 0px 0px 2px 1px #25272c;
  font-size: 25px;
  border: 0px solid #01152b;
  border-radius: 50px;
  padding: 0 20px;
  outline: none;
  background-color: #d3cdcd;
}

.createChatLabel-dark input::placeholder{
  color: #363940;
}

.createChatLabel-light input:focus{
  box-shadow: 0px 0px 2px 2px #262121;
}

.createChatLabel-dark input:focus{
  box-shadow: 0px 0px 8px 3px #110f0f;
}

.createChatButton-light{
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.createChatButton-dark{
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.createChatButton-light button{
  width: 200px;
  height: 50px;
  margin-right: 42px;
  background: #4e545c;
  font-weight: 540;
  font-size: 26px;
  border: 0px solid #030f1c;
  border-radius: 50px;
  color: #e7ecf0;
  -webkit-text-stroke: 0.3px #030f1c;
}

.createChatButton-dark button{
  width: 200px;
  height: 50px;
  margin-right: 42px;
  background: #4e545c;
  font-weight: 540;
  font-size: 26px;
  border: 0px solid #303136;
  border-radius: 50px;
  color: #e7ecf0;
  box-shadow: 3px 3px 3px #303136;
}

.createChatButton-light button:hover{
  background: #6c7887;
  box-shadow: 6px 6px 6px #110f0f;
}

.createChatButton-dark button:hover{
  background: #6c7887;
  box-shadow: 4px 4px 4px #110f0f;
}

.errorform{
  width: 570px;
  height: 240px;
  background: #d3cdcd;
  right: 25%;
  top:  -100%;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 1px solid #262121;
  transition: .70s top;
  border-radius: 50px 50px 50px 50px;
}

.errorform.active{
  top: 2%;
}


.successfulform{
  width: 570px;
  height: 220px;
  background: #d3cdcd;
  right: 25%;
  top:  -100%;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 1px solid #262121;
  transition: .70s top;
  border-radius: 30px 30px 30px 30px;
}

.successfulform.active{
  top: 2%;
}

.formMessageError{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  font-size: 34px;
  color: #de002c;
  
  font-weight: 600;
  text-shadow: 1px 1px 2px #262121;
  -webkit-text-stroke: 1px #a60000;
}

.formMessageSuccess{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  font-size: 40px;
  color:#02a352;
  font-weight: 600;
  text-shadow: 1px 1px 2px #262121;
  -webkit-text-stroke: 1px #016b36;
}

.createChatFormH{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 36%;
  font-size: 20px;
  text-align: center;
  margin-left: 5%;
}

.createChatFormH h{
  margin-bottom: 20px;
}

.createChatFormButton{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 24%;
}

.createChatFormButton button{
  margin-bottom: 10px;
  margin-right: 50px;
  width: 100px;
  height: 32px;
  border: 0px solid #262121;
  border-radius: 20px;
}

.createChatFormButton button:hover{
  background: #5c616e;
  box-shadow: 1px 2px 2px #110f0f;
  
}
.successButton{
  background: #363940;
  color: #fffdf2;
}

.errorButton{
  background: #363940;
  color: #fffdf2;
}


.setting-light{
  width: 100vw;
  height: 100vh;
  background: #fafafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


.setting-dark{
  width: 100vw;
  height: 100vh;
  background: #363940;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.logout{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 12px;
  margin-right: 18px;
} 

.logout button{
  width: 150px;
  height: 38px;
  margin-right: 42px;
  background: #4e545c;
  font-weight: 540;
  font-size: 26px;
  border: 0px solid #030f1c;
  border-radius: 50px;
  color: #e7ecf0;
  -webkit-text-stroke: 0.3px #030f1c;
}

.logout button:hover{
  background: #6c7887;
  box-shadow: 2px 2px 2px #110f0f;
}

.themeChange{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 100px;
}

.dark-light{
  font-size: 30px; 
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.dark-light button{
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background: #363940;
  border: 1px solid #383b47;
}

.dark-dark{
  display: none;
}

.ligthThemeH{
  color: #aeb8c2;
  font-weight: 600;
}

.darkThemeH{
  color: #363940;
  font-weight: 600;
}

.light-dark{
  font-size: 30px; 
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.light-dark button{
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background: #aeb8c2;
  border: 1px solid #5e6469;
}

.light-light{
  display: none;
}

.text{
  margin: 0;
  padding: 0;
  margin-left: 130px;
  margin-bottom: 500px;
  color: #2b0101;
  font-size: 40px;
}

.li{
  color: #aeb8c2;
  margin-bottom: 10px;
  align-items: center;
  padding: 28px 0 0 0;
}

.li:hover{
  color: #f4a261;

}


.login{
  width: 470px;
  height: 300px;
}

.registration{
  width: 470px;
  height: 300px;
}

.logReg-light{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafc;
}

.logReg-dark{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #363940;
}


.logReg-light label{
  font-size: 26px;
  color: #01152b;
  font-weight: 600;
}

.logReg-dark label{ 
  font-size: 26px;
  color: #c1c1c9;
  font-weight: 600;
}

.logRegLabel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-top: 34px;
}

.logReg-light input{
  width: 200px;
  height: 36px;
  box-shadow: 0px 0px 2px 1px #fff0fa;
  font-size: 25px;
  border: 0px solid #01152b;
  border-radius: 50px;
  padding: 0 20px;
  outline: none;
  background-color: #ffffff;
}

.logReg-dark input{
  width: 200px;
  height: 36px;
  box-shadow: 0px 0px 2px 1px #25272c;
  font-size: 25px;
  border: 0px solid #01152b;
  border-radius: 50px;
  padding: 0 20px;
  outline: none;
  background-color: #d3cdcd;
}

.logReg-dark input::placeholder{
  color: #363940;
}

.logReg-light input:focus{
  box-shadow: 0px 0px 2px 1px #262121;
}

.logReg-dark input:focus{
  box-shadow: 0px 0px 8px 3px #110f0f;
}

.logRegLabelButton{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.logRegLabelButton button{
  width: 180px;
  height: 38px;
  background: #4e545c;
  font-weight: 540;
  font-size: 26px;
  border: 0px solid #030f1c;
  border-radius: 50px;
  color: #e7ecf0;
  -webkit-text-stroke: 0.3px #030f1c;
}

.logRegLabelButton button:hover{
  background: #6c7887;
}

.RegLabelButton{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.RegLabelButton button{
  width: 220px;
  height: 38px;
  background: #4e545c;
  font-weight: 540;
  font-size: 26px;
  border: 0px solid #030f1c;
  border-radius: 50px;
  color: #e7ecf0;
  -webkit-text-stroke: 0.3px #030f1c;
}

.RegLabelButton button:hover{
  background: #6c7887;
}

.logRegButton-light{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #030f1c;
  font-size: 16px;
}

.logRegButton-light button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  background: none;
  border: none;
  text-decoration: underline;
  color: #030f1c; 
  font-size: 15px;
}

.logRegButton-light button:hover{
  color: #07468a; 
}

.logRegButton-dark{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c1c1c9;
  font-size: 16px;
}

.logRegButton-dark button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  background: none;
  border: none;
  text-decoration: underline;
  color: #c1c1c9; 
  font-size: 15px;
}

.logRegButton-dark button:hover{
  color: #fffbfb;
}

.login-disable{
  display: none;
}

.registration-disable{
  display: none;
}

.openChat{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border: none;
  color: #c1c1c9;
}

.chatlistItem{
  width: 100%;
  height: 45px;
  background: #363940;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border: 0px solid #363940;
  border-radius: 10px;
}

.chatlistItem h{
  font-size: 17px;
}

.chatlistItem:hover{
  background: #565a63;
}

.chatListSide-light{
  width: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #a3a3a3;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chatListSide-dark{
  width: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #303136;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.actionButton{
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c1c1c9;
}

.actionsBlock{
  display: flex;
  justify-content: center;
  align-items: center;
}

.addUsersChat{
  width: 20px;
  height: 20px;
}
.leaveChat{
  width: 23px;
  height: 23px;
}
.deleteChat{
  width: 22px;
  height: 22px;
}

.addUsersChat:hover{
  color: #fafafc;
}
.leaveChat:hover{
  color: #fafafc;
}
.deleteChat:hover{
  color: #fafafc;
}

.chatListSideBlock{
  width: 330px;
  margin-top: 40px;
}

.addusers{
  display: none;
}

.addusers-active{
  justify-content: center;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addusers-active input{
  width: 74%;
  height: 70%;
  background: #c1c1c9;
  border: 0px solid rgb(36, 34, 34);
  border-radius: 10px 0px 0px 10px;
  outline: none;
  padding-left: 20px;
}

.addusers-active input:focus{
  box-shadow: #1b1c1f 2px 2px 7px;
}

.addusers-active button{
  width: 26%;
  height: 44px;
  border: 0px solid #1b1c1f;
  border-radius: 0px 10px 10px 0px;
  background: #8b8b92;
  font-family: 'Verdana';
}

.addusers-active button:hover{
  background: #656569;
}

.leaveButton{
  display: none;
}

.leaveButton-active{
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaveButton-active button{
  width: 45%;
  height: 100%;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: rgba(230, 231, 238, 0.4) 1px 1px 4px;
  background: #303136;
  color: #c1c1c9;
}

.leaveButton-active button:hover{
  box-shadow: rgba(10, 10, 14, 0.9) 3px 3px 12px;
}

.leaveusers{
  display: none;
}

.leaveusers-active{
  justify-content: center;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaveusers-active input{
  width: 74%;
  height: 70%;
  background: #c1c1c9;
  border: 0px solid rgb(36, 34, 34);
  border-radius: 10px 0px 0px 10px;
  outline: none;
  padding-left: 20px;
}

.leaveusers-active input:focus{
  box-shadow: #1b1c1f 2px 2px 7px;
}

.leaveusers-active button{
  width: 26%;
  height: 44px;
  border: 0px solid #1b1c1f;
  border-radius: 0px 10px 10px 0px;
  background: #8b8b92;
  font-family: 'Verdana';
}

.leaveusers-active button:hover{
  background: #656569;
}

.chatlist-dark{
  width:100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #363940;
  display: flex;
  margin-left: 136px;
}

.chatlist-light{
  width:100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #fafafc;
  display: flex;
  margin-left: 136px;
}


.messageForm{
  width: 700px;
  height: 100%;
  justify-content: space-between;
  margin-left: 20px;
}

.messages{
  width: 100%;
  height: 90%;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar{
  width: 0px;
  height: 0px;
  background: none;
}

::-webkit-scrollbar-track{
  background: none;
}

::-webkit-scrollbar-thumb{
  background: none;
}

.messageWrite{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.messageWrite input{
  width: 70%;
  height: 70%;
  border: 0px solid black;
  border-radius: 10px;
  padding-right: 20px;
  outline: none;
  padding-left: 30px;
  background: #c1c1c9;
  color: #303136;
  font-family: 'Arial';
  font-size: 15px;
}

.messageWrite input:focus{
  box-shadow: #1b1c1f 2px 2px 7px;
}

.messageWrite input::placeholder{
  color: black;
}

.messageWrite button{
  width: 20%;
  height: 75%;
  border: 0px solid black;
  border-radius: 10px;
  font-size: 20px;
  background: #c1c1c9;
}

.messageWrite button:hover{
  box-shadow: rgba(10, 10, 14, 0.9) 3px 3px 12px;
}

.myMessage{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  color: #01152b;
}

.myMessageBox-dark{
  width: 80%;
  background: #2b5279;
  border: 0px solid black;
  border-radius: 10px 10px 0px 10px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #e7ecf0;
}

.myMessageBox-light{
  width: 80%;
  background: #c2c2c2;
  border: 0px solid black;
  border-radius: 10px 10px 0px 10px;
  min-height: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.myMessageBox-dark h{
  display: none;
}

.myMessageBox-light h{
  display: none;
}

.otherMessage{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.otherMessageBox-dark{
  width: 80%;
  background: #203b57;
  border: 0px solid black;
  border-radius: 10px 10px 10px 0px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #e7ecf0;
}

.otherMessageBox-light{
  width: 80%;
  background: #2691ff;
  border: 0px solid black;
  border-radius: 10px 10px 10px 0px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #1a1616;
}

.otherMessageBox-dark h{
  margin-left: 20px;
}

.otherMessageBox-light h{
  margin-left: 20px;
}

.messageText{
  margin-left: 20px;
}

.messageText h{
  display: flex;
  margin-left: 0px;
}

.sideBar{
  width:136px;
  height: 100vh;
  background: #212226;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.img{
  width: 40px;
  height: 40px;
}

.img2{
  width:47px;
  height: 47px;
}

@media screen and (max-width: 992px) { 
  .sideBar{
    width:120px;
  }

  .img{
    width: 53px;
    height: 53px;
  }

  .img2{
    width: 65px;
    height: 65px;
  }

  .itemH{
    display: none;
  }

  .homeH-dark{
    margin-right: 54px;
    font-size: 45px;
  }

  .homeH-light{
    margin-right: 54px;
    font-size: 45px;
  }

  .h2-dark{
    margin-right: 54px;
  }

  .h2-light{
    margin-right: 54px;
  }

  .logout button{
    width: 176px;
    height: 55px;
    margin-right: 60px;
    font-size: 34px;
  }

    
  .dark-light{
    font-size: 46px; 
    width: 350px;
    height: 100px;
    margin-bottom: 80px;
  }

  .dark-light button{
    width: 70px;
    height: 70px;
    margin-top: 13px;
  }
    
  .light-dark{
    font-size: 46px; 
    width: 350px;
    height: 100px;
    margin-bottom: 80px;
  }

  .light-dark button{
    width: 70px;
    height: 70px;
    margin-top: 13px;
  }
    
  .createChatLabel-light{
    width: 600px;
  }

  .createChatLabel-dark{
    width: 600px;
  }

  .createChatLabel-light input{
    width: 250px;
  }

  .createChatLabel-dark input{
    width: 250px;
  }

  .createChatButton-dark button{
    margin-right: 95px;
  }

  .createChatButton-light button{
    margin-right: 95px;
  }
  
  .errorform{
    width: 450px;
    height: 170px;
    right: 17%;
  }

  .successfulform{
    width: 450px;
    height: 170px;
    right: 17%;
  }

  .login{
    margin-left: 100px;
  }

  .logRegButton-dark{
    margin-left: 100px;
    font-size: 25px;
  }

  .logRegButton-dark button{
    font-size: 23px;
  }

  .logRegButton-light{
    margin-left: 100px;
    font-size: 25px;
  }

  .logRegButton-light button{
    font-size: 23px;
  }

  .registration{
    margin-left: 100px;
  }

  .chatlist-dark{
    margin-left: 120px;
    height: 100vh;
  }

  .chatListSide-dark{
    width: 250px;
  }

  .chatlist-light{
    margin-left: 120px;
    height: 100vh;
  }

  .chatListSide-light{
    width: 250px;
  }

  .chatListSideBlock{
    width: 220px;
  }

  .messageForm{
    width: 280px;
  }

  .messageWrite input{
    width: 65%;
    height: 50%;
    font-size: 15px;
  } 
  .messageWrite button{
    width: 35%;
    height: 53%;
    font-size: 14px;
  } 

  .leaveusers-active button{
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .sideBar{
    width: 50px;
  }

  .img{
    width: 33px;
    height: 33px;
  }

  .img2{
    width: 39px;
    height: 39px;
  }

  .itemH{
    display: none;
  }

  .homeH-dark{
    font-size: 25px;
    margin-right: 100px;
    text-align: center;
  }

  .homeH-light{
    font-size: 25px;
    margin-right: 100px;
    text-align: center;
  }

  .h2-dark{
    margin-right: 100px;
    margin-bottom: 80px;
    font-size: 26px;
  }

  .h2-light{
    margin-right: 100px;
    margin-bottom: 80px;
    font-size: 26px;
  }

  .logout button{
    width: 100px;
    height: 39px;
    margin-right: 8px;
    font-size: 22px;
  }
    
  .dark-light{
    font-size: 26px; 
    width: 220px;
    height: 70px;
    margin-bottom: 50px;
  }

  .dark-light button{
    width: 50px;
    height: 50px;
    margin-top: 11px;
  }
    
  .light-dark{
    font-size: 26px; 
    width: 220px;
    height: 70px;
    margin-bottom: 50px;
  }

  .light-dark button{
    width: 50px;
    height: 50px;
    margin-top: 11px;
  }
    
  .createChatLabel-light{
    width: 100%;
  }

  .createChatLabel-dark{
    width: 100%;

  }

  .createChatLabel-dark label{
    width: 50px;
    font-size: 20px;
  }

  .createChatLabel-light label{
    width: 50px;
    font-size: 20px;
  }

  .createChatLabel-light input{
    width: 105px;
    font-size: 20px;
    margin-right: 50px;
  }

  .createChatLabel-dark input{
    width: 105px;
    font-size: 20px;
    margin-right: 50px;
  }

  .createChatButton-dark{
    width: 100%;
  }
  .createChatButton-light{
    width: 100%;
  }
  .createChatButton-dark button{
    margin-right: 48px;
    width: 120px;
    height: 46px;
    font-size: 21px;
  }

  .createChatButton-light button{
    margin-right: 48px;
    width: 120px;
    height: 46px;
    font-size: 21px;
  }
  
  .errorform{
    width: 225px;
    height: 200px;
    right: 25%;
  }

  .createChatFormH{
    font-size: 16px;
  }
  
  .formMessageError{
    font-size: 25px;
  }

  .successfulform{
    width: 225px;
    height: 200px;
    right: 25%;
  }

  .formMessageSuccess{
    font-size: 25px;
  }

  .login{
    width: 200px;
    margin-left: 30px;
  }

  .registration{
    width: 200px;
    margin-left: 11px;
  }

  .logReg-dark label{ 
    width: 50px;
    font-size: 20px;
  }

  .logRegLabel input{
    width: 120px;
    height: 28px;
    margin-right: 130px;
    font-size: 14px;
  }
  .logRegButton-dark{
    margin-left: 50px;
    font-size: 14px;
  }

  .logRegLabelButton{
    width: 100%;
  }

  .logRegLabelButton button{
    width: 130px;
    height: 28px;
    font-size: 20px;
    margin-left: 60px;
  }

  .RegLabelButton{
    width: 100%;
  }

  .RegLabelButton button{
    width: 130px;
    height: 28px;
    font-size: 20px;
    margin-left: 60px;
  }

  .logRegButton-dark button{
    font-size: 13px;
  }

  .logRegButton-light{
    margin-left: 50px;
    font-size: 14px;
  }

  .logRegButton-light button{
    font-size: 13px;
  }

  .messageForm{
    width: 200px;
  }

  .messageWrite input{
    width: 66%;
    font-size: 15px;
    height: 38%;
  }

  .messageWrite button{
    width: 28%;
    height: 40%;
    font-size: 10px;
  }

  .myMessageBox-light{
    font-size: 15px;
  }

  .myMessageBox-dark{
    font-size: 15px;
  }

  .otherMessageBox-light{
    font-size: 15px;
  }

  .otherMessageBox-dark{
    font-size: 15px;
  }
  .chatlistlist-dark{
    width: 50px;
  }

  .chatlistlist-light{
    width: 50px;
  }

  .chatlistlistblock{
    width: 40px;
    margin-top: 80px;
  }
  .messageWrite input::placeholder{
    font-size: 8px;
  }

  .chatlistItem{
    flex-direction: column;
    height: 220px;
  }

  .chatListSide-dark{
    width: 70px;
  }

  .chatListSide-light{
    width: 70px;
  }

  .chatListSideBlock{
    width: 60px;
  }

  .chatlist-dark{
    margin-left: 50px;
  }

  .chatlist-light{
    margin-left: 50px;
  }

  .openChat{
    transform: rotate(90deg);
    margin-bottom: 100px;
  }

  .actionsBlock{
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }

  .action{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
  }

  .leaveButton-active button{
    height: 32px;
    width: 58px;
    background: #6c7887;
    color: black;
    font-size: 11px;
  }

  .addusers-active{
    flex-direction: column;
    height: 110px;
  }
  .addusers-active input{
    height: 50px;
    width: 27px;
    border-radius: 10px;
  }

  .addusers-active button{
    height: 32px;
    width: 59px;
    color: black;
    font-size: 10px;
    border-radius: 10px;
  }
  
  .leaveusers-active{
    flex-direction: column;
    height: 110px;
  }

  .leaveusers-active input{
    height: 50px;
    width: 27px;
    border-radius: 10px;
  }

  .leaveusers-active button{
    height: 32px;
    width: 59px;
    color: black;
    font-size: 10px;
    border-radius: 10px;
  }
}